services:
  - type: web
    name: lms-backend
    runtime: java
    buildCommand: ./build.sh
    startCommand: java -Dserver.port=$PORT -jar target/lms-backend-0.0.1-SNAPSHOT.jar
    envVars:
      - key: JAVA_TOOL_OPTIONS
        value: -Xmx512m -Xms256m
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
